<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}LP CRM{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/basecoat-css@0.2.8/dist/basecoat.cdn.min.css">
    
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <span class="navbar-brand">LP CRM</span>
            <div class="navbar-user">
                Logged in as: {{ request.user.username }}
                <a href="" class="btn-logout">Logout</a>
            </div>
        </div>
    </nav>
    
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>